* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/swirl_pattern.png")
}

header {
    float: left;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #dddddd;
    padding-right: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.name {
    float: left;
    position: relative;
    left:150px;
    bottom: 0px;
    width: auto;
    color: white;
    background-color: #4aaaa5;
    text-align: left;
    padding-left: 40px;
    padding-top: 5px;
    padding-right: 40px;
}

nav {
    float: right;
    color: #666666;
    position: relative;
    right: 230px;
    top: 40px;
    width: 270px;
    font-size: 16px;
}

a {
    padding-left: 7px;
    padding-right: 7px;
    text-decoration: none;
    color: #777777;
}

#about {
    float: left;
    position: relative;
    top: 60px;
    left: 150px;
    text-align: center;
    background-color: #ffffff;
    width: 650px;
    text-align: justify;
    border-color: #dddddd;
    border-width: 2px;
    border-style: solid;
    color:  #4aaaa5;
}

#Me {
    text-indent: 20px;
    position: relative;
    left: 5%;
    padding-bottom: 5px;
    border-bottom-color:#dddddd;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    width: 90%;
}

#pic {
    float: left;
    margin-left: 20px;
    margin-right: 30px;
    margin-bottom: 10px;
}

aside {
    position: relative;
    width: 270px;
    float: left;
    background-color: #ffffff;
    left: 350px;
    top: 60px;
    text-align: center;
    padding: 10px;
    margin-right: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #dddddd;
    color:  #4aaaa5;
}

#cm {
    border-bottom-style: solid;
    border-bottom-color: #dddddd;
    border-bottom-width: 2px;
    position: relative;
    top: -10px;
    padding-bottom: 10px;
}

#summary {
    clear: both;
    position: relative;
    background-color: #ffffff;
    padding-right: 10px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 5mm;
    color: #777777;
}

#pic {
    float: left;
    width: auto;
}

p {
    position: relative;
    margin-left: 20px;
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 5px;
}

.c1 {
    float: left;
    width: 33.333%;
    padding-left: 5px;
    padding-right: 10px;
}

.c2 {
    float: left;
    width: 33.333%;
    padding-left: 10px;
    padding-right: 10px;
}

.c3 {
    float: left;
    width: 33.333%;
    padding-left: 10px;
    padding-right: 15px;
}

.portfolio {
    float: left;
    position: relative;
    left: 150px;
    top: 60px;
    width: 650px;
    height: 450px;
    background-color: #ffffff;
    border-width: 3px;
    border-style: solid;
    border-color: #dddddd;
    color: #4aaaa5;
    text-align: left;
}

h3 {
    position: relative;
    left: 5%;
}

.projects {
    position: relative;
    width: 90%;
    left: 5%;
    border-top-style: solid;
    border-top-color: #dddddd;
    border-top-width: 2px;
}

.pro {
    position: absolute;
    width: 150px;
    height: 150px;
    border-color: #4aaaa5;
    border-width: 2px;
    border-style: ridge;
}

.pro-1 {
    top: 20px;
}

.pro-2 {
    top: 20px;
    left: 217.5px;
}

.pro-3 {
    top: 20px;
    left: 433px;
}

.pro-4 {
    top: 205px;
}

.pro-5 {
    top: 205px;
    left: 217.5px;
}

.pro-6 {
    top: 205px;
    left: 433px;
}   

.email_box {
    float: left;
    background-color: #ffffff;
    width: 650px;
    position: relative;
    left: 150px;
    top: 60px;
    height: 450px;
    border-color: #dddddd;
    border-style: solid;
    border-width: 3px;
    font-family: Times New Roman;
    font-weight: bold;
}

#econtact {
    width: 90%;
    font-size: 28px;
    color: #4aaaa5;
    position: relative;
    left: 5%;
    top: 30px;
    border-bottom-style: solid;
    border-bottom-color: #dddddd;
    border-bottom-width: 2px;
    padding-bottom: 10px;
}

.efixed {
    width: 90%;
    position: relative;
    left: 5%;
    top: 45px;
    color: #777777;
}

input {
    width: 100%;
}

#ename {
    position: relative;
    top: 10px;
}

#emailAddress {
    position: relative;
    top: 10px;
}

textarea {
    position: relative;
    top: 10px;
    height: 130px;
}

#submit {
    position: relative;
    left: 5%;
    top: 75px;
    width: 15%;
    height: 40px;
    background-color: #4aaaa5;
    border: none;
    color: #eeeeee;
}

footer {
    clear: both;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    background-color: #666666;
    text-align: center;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #eeeeee;
    border-top-style: solid;
    border-top-width: 8px;
    border-top-color: #4aaaa5;
}